@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Workbench:SCAN@-13&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Workbench", sans-serif;
    font-variation-settings: "BLED" 0, "SCAN" -23;
}



.hero {
    background-image: url(images/spikey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0;
}

.hero ul li {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

.hero a {
    color: white;
}

.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav.active {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav.active a {
    color: black;
}

.nav.active .container {
    padding: 10px 0;
}

.nav a:hover {
    font-weight: bold;
}

.dropbtn {
    background-color: #222;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    font-family: "Workbench", sans-serif;
    font-variation-settings: "BLED" 0, "SCAN" -23;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #222;
}
